{% extends 'base.html' %} 
{% block title %} Attendance {% endblock title%}
{% block head %}

<h1>Frequently Asked Questions</h1>


<div class="container mt-2">
	<div class="row">
	  <div class="col-md-3"></div>
  
	  <div class="col-md-6">
		{% for message in messages %}
		<div
		  class="alert alert-{{message.tags}} alert-dismissible fade show"
		  role="alert"
		>
		  <strong></strong> {{message}}
		  <button
			type="button"
			class="btn-close"
			data-bs-dismiss="alert"
			aria-label="Close"
		  ></button>
		</div>
		{% endfor %} {% comment %} Contact Us COde {% endcomment %}
  
		<form action="/faq" method="post">{% csrf_token %}
		  {% csrf_token %}                       


		<div class="form-group">
			<input
			  type="text"
			  class="form-control mt-2"
			  name="quest"
			  placeholder="Questions"
			  
			/>
		  </div>
												  


	<br />
	<div class="d-grid gap-2">
	  <button class="btn btn-warning" type="submit">send</button>
	</div>
  </form>
</div>

<div class="col-md-3"></div>
</div>
</div>

{% endblock head %}